dataset_np/
dataset/
raw_dataset/
dataset\Frontal/
dataset\Left45/
*.zip
modelos/
np_dataset/
foto_aug/
alexnet-0.0001-8b/
alexnet-0.0001-32batch/
alexnet-result/
alexnet-result-fontal valid/
alexnet-result-right45-same/
alexnet-result-right90-same/
alexnet-0.0001-8b/
alexnet-0.0001-32batch/
alexnet-result/
alexnet-0.0001-8b/
alexnet-0.0001-32batch/
alexnet-result/
masks/
RGB/
aug_dataset/
dataset_aug/
modelos/
history/
boxplots/
venv/
Termografias_Dataset_Segmentação/
Yolo_dataset/
runs/segment/
Yolo-Yolo_dataset/
/Yolo-data-old/
Yolo-binary-masks-val/
Yolo-binary-masks-img/
images-yolo
output_masks_total/
yolo-data
output_segmented_healthy
output_segmented_sick
output_segmented_total
train_pacients
train_patientes_healthy
train_patientes_sick

# modelos
yolo11n.pt
yolov8n-seg.pt
np_dataset_v2/