dataset_np/
dataset/
raw_dataset/
dataset\Frontal/
dataset\Left45/
*.zip
modelos/
np_dataset/
foto_aug/
alexnet-0.0001-8b/
alexnet-0.0001-32batch/
alexnet-result/
alexnet-result-fontal valid/
alexnet-result-right45-same/
alexnet-result-right90-same/
alexnet-0.0001-8b/
alexnet-0.0001-32batch/
alexnet-result/
alexnet-0.0001-8b/
alexnet-0.0001-32batch/
alexnet-result/
masks/
RGB/
aug_dataset/
dataset_aug/
modelos/
history/
boxplots/
venv/
Termografias_Dataset_Segmentação/
Yolo_dataset/
runs/segment/
Yolo-Yolo_dataset/
/Yolo-data-old/
Yolo-binary-masks-val/
Yolo-binary-masks-img/
images-yolo
output_masks_total/
yolo-data
output_segmented_healthy
output_segmented_sick
output_segmented_total
train_pacients
train_patientes_healthy
train_patientes_sick

# modelos
yolo11n.pt
yolov8n-seg.pt
np_dataset_v2/
yolov8x-seg.pt
yolov8m-seg.pt
yolo11n.pt
Unet_dataset/

segmented_yolonano_frontal/
seed_value_seg.txt
yolo_dataset_nano
random_seed_vgg.txt
Yolo_dataset_aug/
Yolo_dataset_AUG/
AUG_dataset_v2/
Unet_dataset_AUG/
raw_png_dataset/
filtered_raw_dataset/
Yolo_dataset_aug_10_05/
Yolo_dataset_10_05/
splits/
teste_imgs_X/
teste_imgs_X_segmented/
teste_imgs_X_segmented_s_padding/
Yolo_dataset_10_05_padding/
teste_imgs_X_tr_segmented_unet/
teste_imgs_X_tr_segmented_yoloN/
teste/
Testando_imagens/
teste2/
teste_imgs_resized_0.0/
teste_imgs_resized_1.0/
teste_imgs_resized_2.0/
teste_test_yolo/
teste_train_yolo/
teste_val_yolo/

