dataset_np/
dataset/
raw_dataset/
dataset\Frontal/
dataset\Left45/
*.zip
modelos/
np_dataset/
foto_aug/
alexnet-0.0001-8b/
alexnet-0.0001-32batch/
alexnet-result/
alexnet-result-fontal valid/
alexnet-result-right45-same/
alexnet-result-right90-same/
alexnet-0.0001-8b/
alexnet-0.0001-32batch/
alexnet-result/
alexnet-0.0001-8b/
alexnet-0.0001-32batch/
alexnet-result/
masks/
RGB/
aug_dataset/
dataset_aug/
modelos/
history/
boxplots/
venv/
Termografias_Dataset_Segmentação/
Yolo_dataset/